.classpath
.project
gradlew
gradlew.bat

out/
.idea/
.gradle/
gradle/
cms.iml
transaction-logs/
.editorconfig
/tmp/
/build/
.settings/
bin/
/WEB-INF/
logs/
/src/main/resources/application.yml

### mac ###
.DS_Store

# commit test oli #
# commit test oli #
